# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env.local
.env.*.local

# testing
/coverage
/playwright-report
/test-results
/blob-report
/playwright/.cache

# prisma
/prisma/dev.db
/prisma/dev.db-journal

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo

# editors
.vscode/*
!.vscode/extensions.json
.idea

# generated PWA files
/public/sw.js
/public/sw.js.map
/public/swe-worker*.js
/public/swe-worker*.js.map

/src/generated/prisma
